{{#*inline "nav"}}
{{#each items}}
	{{#with this}}
	<li class="{{#if children}}uk-parent{{/if}}{{#if (eq ../active name)}} uk-active{{/if}}">
		<a href="{{default url "#"}}">
			{{title}}
		</a>
		{{#if children}}
		{{> renderNavigation items=children mobile=../mobile active=../active level=1}}
		{{/if}}
	</li>
	{{/with}}
{{/each}}
{{/inline}}

{{#if mobile}}{{!-- Mobile / Mobile Sub --}}

<ul>
	{{#>nav}}{{/nav}}
	<li class="uk-flex uk-flex-middle uk-list uk-flex-right uk-margin-remove-bottom">
		<div><a href="#" class="uk-text-bold uk-text-uppercase">Media centre</a></div>
		<div class="uk-margin-remove-top uk-text-bold uk-text-uppercase"><a href="#"><abbr title="Frequently Asked Questions">FAQ</abbr></a></div>
	</li>
</ul>


{{else}}

	{{#if level}}{{!-- Desktop Sub --}}

	<div class="uk-navbar-dropdown">
		<ul class="uk-nav uk-navbar-dropdown-nav">
			{{#>nav}}{{/nav}}
		</ul>
	</div>

	{{else}}{{!-- Desktop --}}

	<ul class="uk-navbar-nav">
		{{#>nav}}{{/nav}}
	</ul>

	{{/if}}

{{/if}}
